.itemdiv {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.p {
  margin-left: 3px;
  padding: 2px;
}
.div2 {
  float: left;
  width: 100%;
}
.img {
  float: left;
  width: 30%;
  height: auto;
  border: solid 0px #00dfff;
  border-radius: 7px;
}
.transparent {
  font-size: 0px;
}
