.history-card-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgb(225, 225, 225);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.subtitle {
  color: rgb(108, 108, 108);
}

.go-to-tour-buton {
  all: unset;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(0, 63, 126);
  border-radius: 3px;
  transition: all 150ms;
  color: rgb(0, 63, 126);
}

.go-to-tour-buton:hover {
  background-color: rgb(0, 63, 126);
  color: white;
}

.go-to-tour-buton a {
  all: unset;
}

.last-visited-time {
  color: rgb(108, 108, 108);
  margin-top: 6px;
  font-size: small;
}
